$mobile-app-filter-menu-height: rem-calc(45);

.mobile-app-filter-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  height: $mobile-app-filter-menu-height;
  align-items: center;
  width: 30%;
  margin: 50px auto;
  min-width: 365px;
  //border-top: 1px solid $medium-gray;
  //border-bottom: 1px solid $medium-gray;

  li {
    color: $black;
    a {
      color: $black;
    }

    &.is-active {
      a {
        color: $dark-gray;
      }
    }
  }
}
